<div class="jumbotron text-center">
    <h1>Seja bem-vindo!</h1>
</div>
    
<div class="row">
    <div class="col-md-6">
        <div class="well text-center">
            <li><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> <%=link_to "Tipos", kinds_path %></li>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="well text-center">
            <li><span class="glyphicon glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%=link_to "Contatos", contacts_path %></li>
        </div>
    </div>
    
</div>